{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Prescription</title>
</head>
<body style="margin: 0; padding: 0; background-color: #F8FAFC;">
    <main style="font-family: Helvetica; width: 85%; margin: 10px auto; border: 2px solid rgb(1, 20, 44); padding: 10px;">
        <h1 style="font-family: Helvetica; text-decoration: underline;">Email from {{email_sender}}</h1>
        <p>Attached here is your file</p>
        <div style="width: 100%; height: 100%; margin: 10px 0;">
        </div>

        
    </main>
    
</body>
</html>